.App {
    background-color: rgb(240, 242, 245);
}
h2 {
    margin-top: 0px;
}
a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button:focus, input:focus {
    outline: none;
}
hr {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

button:hover {
    cursor: pointer;
}

.navContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    height: 55px;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.navContainer1 {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.facebookLogo {
    margin-right: 200px;
}
.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navSearchBar {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(240, 242, 245);
    border: 1px solid rgb(240, 242, 245);
    color: rgb(112, 114, 118);
    height: 40px;
    width: 240px;
}
.navSearchBtn {
    background-color: rgb(240, 242, 245);
    border: 1px solid rgb(240, 242, 245);
    color: rgb(112, 114, 118);
    height: 44px;   
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 10px;
}

.navbtn2 {
    background-color: white;
    border: none;
    padding: 10px 45px;
}
.navbtn2:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
    border-radius: 10px;
}
.navbtn3 {
    background-color: rgb(228, 230, 234);
    border: 1px solid rgb(228, 230, 234);
    border-radius: 50px;
    padding: 9px 10px;
    margin-right: 5px;
}
.navbtn3:hover, .navProfilePicContainer:hover {
    background-color: rgb(216, 218, 222);
    border: 1px solid rgb(216, 218, 222);
    cursor: pointer;
}
.navProfilePicContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    border-radius: 50px;
    background-color: rgb(228, 230, 234);
    border: 1px solid rgb(228, 230, 234);
    font-weight: 545;
    padding-left: 2px;
    padding-right: 8px;
}
.navProfilePic {
    background-image: url('./components/images/profile-pic-cropped.jpg');
    background-size: 100% 100%;
    border-radius: 50px;
    margin-right: 5px;
    width: 35px; 
    height: 35px;
}
.navContainer3 {
    display: flex;
    flex-direction: row;
}




.headerContainer {
    background-color: white;
    height: 500px;
    border-bottom: 1px solid rgb(235, 235, 235);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerSection {
    /* border: 1px solid red; */
    height: 100%;
    /* display: grid; */
}
.headerBackgroundPic {
    background-image: url('./components/images/header-pic.png');
    background-size: 100% 100%;
    background-position: center;
    width: 940px;
    height: 350px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.profilePic {
    position: absolute;
    background-image: url('./components/images/profile-pic.png');
    background-size: 100% 100%;
    /* background-position: center; */
    border-radius: 50%;
    width: 170px;
    height: 170px;
    top: 245px;
    border: 4px solid white;
}

.headerInfo {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
}

.headerInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerBtnContainer {
    display: flex;
    flex-direction: row;
}
.headerBtn {
    background-color: white;
    border: none;
    padding: 15px 20px;
    font-weight: bold;
}
.headerBtn:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
    border-radius: 10px;
}

.headerArrow {
    width: 15px;
    height: 15px;
    /* margin-top: 10px; */
}
.center {
    display: flex;
    flex-direction: row;
    align-items: center;
}






.contentContainer {
    /* height: 800px;  */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.contentSection {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-gap: 13px; */
    /* border: 1px solid black;  */
    width: 880px;
    /* height: 500px; */
    margin-top: 20px;
}

.intro {
    /* display: none; */
    background-color: white;
    height: 580px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(235, 235, 235);
    margin-bottom: 15px;
    padding: 20px;
}
.badgesContainer {
    display: flex;
    flex-direction: row;
}

.badgesContainer2 {
    display: flex;
    flex-direction: column;
}

.badgesContainerCenter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.badges {
    background-color: white;
    height: 260px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(235, 235, 235);
    margin-bottom: 15px;
    padding: 20px;

}
.rotate {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.section1 {
    background-color: white;
    height: 150px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(235, 235, 235);
    margin-bottom: 15px;
    float: right;
    padding: 20px;

}

.section2 {
    background-color: white;
    height: 410px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(235, 235, 235);
    margin-bottom: 15px;
    float: right;
    padding: 20px;

}

.postInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.postInput {
    /* border-top-right-radius: 50px; */
    border-radius: 50px;
    background-color: rgb(240, 242, 245);
    border: 1px solid rgb(240, 242, 245);
    color: rgb(112, 114, 118);
    height: 30px;
    width: 80%;
    padding: 10px;
    margin-left: 10px;
}

.postBtn {
    background-color: rgb(51, 120, 234);
    border: none;
    color: white;
    padding: 10px 185px;
    border-radius: 8px;
    /* float: right; */
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.resume {
    border: 2px solid lightgray;
    border-radius: 12px;
}


.downloadModal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.download-modal-content {
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: white;
    color: black;
    margin: 15% auto;
    width: 330px; 
    height: 350px;
    border-radius: 12px;

}

/* The Close Button */
.ModalClose {
    background-color: rgb(228, 230, 234);
    border: none;
    color: black;
    padding: 10px 100px;
    border-radius: 8px;
}

.modalCheckContainer {
    background-color: rgb(51, 120, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.modalSuccessContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.contactContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}